body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.flex_product {
  display: flex;
}

.sliderimg {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.hot-sales {
  width: 30%;
  background-color: black;
  height: 250px;
  margin: 10px;
  border-radius: 4px;
}
.products-container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  width: 100%;
  padding: 20px;
}
.content-hot-sales, .category-grid {
  display: flex;
  justify-content: center;
  margin: 20px;
  width: 100%;
}

.category-header {
  color : #0d1d40;
  margin-top: 50px;
}

.cat-sales {
  width: 18%;
  background-color: black;
  height: 270px;
  margin: 5px;
  border-radius: 4px;
}